<!DOCTYPE html>
<html lang="es-419" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/integrantes.css}">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Grupo #4</h1>
    <h1>Integrantes:</h1>

   
    
   
  <div class="integrantes">

  <div class="integrante">
    <h2>Sara Lucía Ocampo Feria</h2>
    <h3>Desarrolladora</h3>
    <p>Amante  de la programación</p>
  </div>

  <div class="integrante">
    <h2>Thomas Arévalo Rodríguez</h2>
    <h3>Desarrollador</h3>
    <p>Amante de los sistemas</p>
  </div>

  <div class="integrante">
    <h2>Diego Fernando Castrillón</h2>
    <h3>Desarrollador</h3>
    <p>Amante de la informática y la computación</p>
  </div>

  <div class="integrante">
    <h2>Santiago jose Hernandez </h2>
    <h3>Desarrollador</h3>
    <p>Amante del diseño y la programación</p>
  </div>
  
  <div class="integrante">
    <h2>Luis   Enrique Santos</h2>
    <h3>Desarrollador</h3>
    <p>Amante de las redes y la seguridad</p>
  </div>

  </div>

  <div th:class="acta-contenedor">
      <h2 th:class="acta-titulo">Bitacora del proyecto Primera entrega.</h2>

      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 24 de febrero de 2026 <br>
          <strong>Asistentes:</strong> Todo el equipo. <br><br>
          En la sesión de hoy, no hubo actividad ni discusión. El docente
          presentó las nuevas tecnologías que se irían a implementar
          en el siguiente taller (DTO, BD diferente a H2, JPA, etc.).
          De manera adicional se definió el siguiente repositorio para
          el taller. <br><br>
          <span><strong>Link: </strong> https://github.com/advSNTS/proyecto_web.</span>
      </p>

      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 26 de febrero de 2026 <br>
          <strong>Asistentes:</strong> Luis Santos, Santiago Hernandez, Thomas Arévalo, Sara Ocampo. <br><br>
          El profesor presenta el enunciado y las historias de usuario del proyecto (28 en total),
          comienza la discusión sobre la planeación de este y su posible orden de desarrollo, Se llego
          a la conclusión que la base del proyecto es la bdd, Luis presentará un borrador la siguiente clase.<br>
          Se asignaron los temas de exposicion de la siguiente clase, como grupo tenemos el tema de Pruebas
          Funcionales específicamente Sonarqube donde el docente pide que expliquemos su funcionamiento,
          haciendo énfasis en por que es importante basarnos en este tipo de Prueba Funcional para la etapa
          de QA del proyecto. La división de la investigación queda pendiente. <br><br>
          <span><strong>Link: </strong> https://n9.cl/iczn0b</span>
      </p>

      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 3 de marzo de 2026 <br>
          <strong>Asistentes:</strong> Luis Santos, Santiago Hernandez, Thomas Arévalo, Sara Ocampo, Diego Castrillón. <br><br>
          El profesor presenta infraestructura para poder desplegar y revisar los avances del proyecto, enfatiza especialmente
          en actions runs y kubernetes, las presentaciones se aplazan para el jueves y el martes.<br>
          Luis convertirá el diagrama entidad relacion a un modelo relacional fisico en DBeaver, siguiendo las recomendaciones
          de nuestro amado docente, para la siguiente clase se necesita dockerfile corriendo el codigo y 3 entidades. <br><br>
          <span><strong>Link: </strong> https://n9.cl/iczn0b</span>
      </p>

      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 5 de marzo de 2026 <br>
          <strong>Asistentes:</strong> Thomas Arévalo, Sara Ocampo, Diego Castrillón, Viviana Gomez. <br><br>
          Se le mostro el avance del modelo fisico relacional al docente, su retroalimentación fue de gran ayuda puesto que aclaro varios puntos
          sobre los que se tenian dudas y mejoro la vision global del problema.<br><br>
          Algunas de estas correcciones fueron eliminar la tabla intermedia entre empresa y procesos, puesto que un proceso solo puede pertenecer
          a una empresa; otra fue la de adicionar una tabla de pool.<br><br>
          Pool es basicamente una entidad que representa el espacio de trabajo de una empresa.<br><br>
          El equipo se compromete a aplicar de manera profesional y responsable todas las peticiones del profesor para satisfacer
          los requerimientos al pie de la letra.<br><br>
          Se empezaron a realizar las exposiciones de los diferentes grupos, una actividad nutritiva en nuestro conocimiento y crecimiento como
          desarrolladores.<br><br>
          Hay que empezar a descargar postman para todo el tema de peticiones.<br><br>
          Investigar sobre Mockito para su uso futuro en el proyecto.
      </p>

      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 10 de marzo de 2026 <br>
          <strong>Asistentes:</strong> Luis Santos, Santiago Hernandez, Thomas Arévalo, Sara Ocampo, Diego Castrillón. <br><br>
          Realizamos exposición de SonarQube. El profesor entregó la demás clase para adelantar y generar acuerdos sobre el proyecto.<br><br>
          Se empezó la implementación de Postman. Se empezó a investigar para implementar Docker Compose y Kubernetes.<br><br>
          <span><strong>Links de interés: </strong>
              <a href="https://github.com/advSNTS/proyecto_web" target="_blank">GitHub del Proyecto</a> y
              <a href="https://n9.cl/iczn0b" target="_blank">Presentación de SonarQube</a>
          </span>
      </p>
      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 10 de marzo de 2026 <br>
          <strong>Asistentes:</strong> Luis Santos, Santiago Hernandez, Thomas Arévalo, Sara Ocampo, Diego Castrillón. <br><br>
          Realizamos exposición de SonarQube. El profesor entregó la demás clase para adelantar y generar acuerdos sobre el proyecto.<br><br>
          Se empezó la implementación de Postman. Se empezó a investigar para implementar Docker Compose y Kubernetes.<br><br>
          <span><strong>Links de interés: </strong>
              <a href="https://github.com/advSNTS/proyecto_web" target="_blank">GitHub del Proyecto</a> y
              <a href="https://n9.cl/iczn0b" target="_blank">Presentación de SonarQube</a>
          </span>
      </p>
      <p th:class="acta-cuerpo">
          <strong>Fecha:</strong> 10 de marzo de 2026 <br>
          <strong>Asistentes:</strong> Luis Santos, Santiago Hernandez, Thomas Arévalo, Diego Castrillón. <br><br>
          Solamente vino a el Daily Thomas y Luis.<br><br>
          Se terminó la implementación de k8s y de docker según los parámetros dados por el docente.<br><br>
          El profesor dió los links para sonarqube, el usuario y los logs.<br><br>
          Se continuó en los avances del proyecto.<br><br>
          <span><strong>Links de interés: </strong>
              <a href="https://github.com/advSNTS/proyecto_web" target="_blank">GitHub del Proyecto</a> y
              <a href="https://javeriana.inphotech.co/k8smonitor/k8smonitor/" target="_blank">Logs de los grupos</a>
              <a href="https://sonarqube.inphotech.co/sonar" target="_blank">Link de sonarqube</a>
          </span>
      </p>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>
