<!DOCTYPE html>
<html lang="es-419" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/integrantes.css}">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Grupo #4</h1>
    <h1>Integrantes:</h1>

   
    
   
  <div class="integrantes">

  <div class="integrante">
    <h2>Sara Ocampo Feria</h2>
    <h3>Desarrolladora</h3>
    <p>Amante  de la programación</p>
  </div>

  <div class="integrante">
    <h2>Thomas Arévalo Rodríguez</h2>
    <h3>Desarrollador</h3>
    <p>Amante de los sistemas</p>
  </div>

  <div class="integrante">
    <h2>Diego Fernando Castrillón</h2>
    <h3>Desarrollador</h3>
    <p>Amante de la informática y la computación</p>
  </div>
  <div class="integrante">
    <h2>Santiago jose Hernandez </h2>
    <h3>Desarrollador</h3>
    <p>Amante del diseño y la programación</p>
  </div>
  <div class="integrante">
    <h2>Luis Enrique Santos</h2>
    <h3>Desarrollador</h3>
    <p>Amante de las redes y la seguridad</p>
  </div>

  <div class="acta-reunion-container">
        <h2>Acta de reunión</h2>
        <div class="acta-box">
            <p>
                <strong>Fecha:</strong> 24 de febrero de 2026 <br>
                <strong>Asistentes:</strong> Todo el equipo. <br><br>
                En la sesión de hoy, no hubo actividad ni discusión. El docente
                presentó las nuevas tecnologías que se irían a implementar
                en el siguiente taller (DTO, BD diferente a H2, JPA, etc.).
                De manera adicional se definió el siguiente repositorio para
                el taller.
                <p>Link: https://github.com/advSNTS/proyecto_web.</p>
            </p>
        </div>
    </div>

  

</div>

  <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>