<!DOCTYPE html>
<html lang="es-419" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/integrantes.css}">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Grupo #4</h1>
    <h1>Integrantes:</h1>

   
    
   
  <div class="integrantes">

  <div class="integrante">
    <h2>Sara Ocampo Feria</h2>
    <h3>Desarrolladora</h3>
    <p>Amante  de la programación</p>
  </div>

  <div class="integrante">
    <h2>Thomas Arévalo Rodríguez</h2>
    <h3>Desarrollador</h3>
    <p>Amante de los sistemas</p>
  </div>

  <div class="integrante">
    <h2>Diego Fernando Castrillón</h2>
    <h3>Desarrollador</h3>
    <p>Amante de la informática y la computación</p>
  </div>
  <div class="integrante">
    <h2>Santiago jose Hernandez </h2>
    <h3>Desarrollador</h3>
    <p>Amante del diseño y la programación</p>
  </div>
  <div class="integrante">
    <h2>Luis Enrique Santos</h2>
    <h3>Desarrollador</h3>
    <p>Amante de las redes y la seguridad</p>
  </div>

  

</div>

  <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>