<!DOCTYPE html>
<html lang="es-419" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taller Wiki</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Grupo: Luis y los Bugs</h1>
    <p>
        Hola, esta es la wiki del taller de desarrollo web. 
    </p>

    <h2>Resumen del proyecto</h2>
    <p>
        Esta wiki es un espacio de documentación para el proyecto de desarrollo web. Aquí encontrarás información sobre el proyecto
        su estructura, y cómo contribuir al mismo.
        La finalidad del proyecto es representar y visualizar la ejecución de procesos, utilizando diferentes tecnologias y herramientas 
        vistas a lo largo del curso.
    </p>

    <h3 class="h3ash2"> Tecnologias utilizadas</h3>
    <p>
        Usamos thymeleaf como motor de plantillas para generar las páginas web dinámicamente. 
        Además, utilizamos HTML y CSS para el diseño y la estructura de las páginas.
        Posteriormente, se integrará JavaScript para mejorar la interactividad y la experiencia del usuario en el sitio web.
        Se actualizara la wiki con la información sobre las tecnologías utilizadas a medida que se vayan implementando en el proyecto.
    </p>
    <p class="tecnologias">
    <i class="fa-brands fa-html5"></i> HTML
    <i class="fa-brands fa-css3-alt"></i> CSS
    <i class="fa-brands fa-js"></i> JavaScript
    <i class="fa-brands fa-docker"></i> Docker
    </p>


    <h2>Secciones</h2>
    <p class="wiki-sections">
        <a th:href="@{/guia}"><strong>Guia de Instalación</strong></a><br>

        <a th:href="@{/glosario}"><strong>Glosario</strong></a><br>

        <a th:href="@{/integrantes}"><strong>Quienes Somos</strong></a><br>

        <a th:href="@{/contacto}"><strong>Contacto</strong></a>
    </p>


    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
