<!DOCTYPE html>
<html lang="es-419" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taller Wiki</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <h1>Taller Wiki</h1>
    <p>
        Hola, esta es la wiki del taller de desarrollo web. 
    </p>

    <h2>Titulo explicando cosas</h2>
    <p>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500
    </p>

    <h2>Titulo 2 con mas cosas</h2>
    <p>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
        Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500
    </p>


    <h2>Secciones como Wikipedia</h2>
    <p>
        <strong> Documentación</strong> <br>
        <strong> Proyecto</strong> <br>
        <strong> Glosario </strong> <br>
        <strong> Contacto</strong> 
    </p>


    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>
